h4 {
    color: darkgrey;
    margin-left: 20px;
    opacity: 0.5;
}

h2 {
    text-align: center;
}

table {
    text-align: center;
    alignment: center;
    margin: auto;
}

th {
    background-color: darkgrey;
    width: 300px;
}
